.registration
  .registration-header
    = link_to root_path do
      = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "logo"
  %nav.progress
    %ul.progress-bar
      %li.progress-status
        会員情報
        .progress-status__done
        .progress-status_bar__done

      %li.progress-status
        電話番号認証
        .progress-status__done
        .progress-status_bar__long__done

      %li.progress-status
        お届け先住所入力
        .progress-status__done
        .progress-status_bar__long__done

      %li.progress-status
        支払い方法
        .progress-status__done
        .progress-status_bar__done

      %li.progress-status#done
        完了
        .progress-status__done
.registration-complete
  .registration-complete__title
    会員登録完了
  .registration-complete__container
    .registration-complete__container__text
    ありがとうございます。
    %br
    会員登録が完了しました。
    .registration-complete__container__start-btn
    =link_to root_path,class: "start-btn" do
      フリマをはじめる
  = render "index/download"
  = render 'shared/user_footer'