.mainconfomation
  .mainconfomation__head
    %h2.mainconfomation__head--first
      商品は既に売り切れています
    .mainconfomation__head--second
      .mainconfomation__head--contents
        %a
          = link_to '#', class: "contents-link" do
            商品画面へ戻る