.registration
  .registration-header
    = link_to root_path do
      = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "logo"
  %nav.progress
    %ul.progress-bar
      %li.progress-status
        会員情報
        .progress-status__done
        .progress-status_bar__done

      %li.progress-status
        電話番号認証
        .progress-status__done
        .progress-status_bar__long__done

      %li.progress-status
        お届け先住所入力
        .progress-status__done
        .progress-status_bar__long__done

      %li.progress-status#done
        支払い方法
        .progress-status__done
        .progress-status_bar

      %li.progress-status
        完了
        .progress-status