.mainconfomation
  .mainconfomation__header
    %h2.mainconfomation__header
      商品はすでに売り切れています
    .mianconfomation__content
      .mianconfomation__content--top
        = link to "#",class:"contentlink" do
          商品画面へ戻る
