.headerimage
  .headerimage__text
    .headerimage__text__upper
      スマホでかんたん
      %br/
      フリマアプリ
    .headerimage__text__bottom
      メルカリはスマホカメラからすぐに出品できる
      %br/
      購入時も安心な独自システムのアプリです
  .headerimage__image
    .headerimage__image__apple
      = link_to  "https://www.apple.com/jp/ios/app-store/" do
        %img{src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", height: "50", width: "170"}/
    .headerimage__image__google
      = link_to  "https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Dec0419&utm_campaign=Evergreen&pcampaignid=MKT-DR-apac-jp-1003227-med-hasem-py-Evergreen-Dec0419-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700012434507671_creativeid_114860667305_device_c_kwd_kwd-33891114176_geoid_1009308_network_g&gclid=Cj0KCQiAz53vBRCpARIsAPPsz8UTsjCRfkQGH6uZuYax5jBYw-4GKUg1D6SwDcYv3I-ZNXPmNiYO58gaAp6-EALw_wcB&gclsrc=aw.ds" do
        %img{src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", height: "50", width: "170"}/
