.header
  .main-header
    .main-header__top
      .main-header__top__logo
      .main-header__top__search
        .main-header__top__search-button
    .main-header__bottom
      .main-header__bottom__category
      .main-header__bottom__brand
      .main-header__bottom__managementbox
        .main-header__bottom__managementbox-signup
        .main-header__bottom__managementbox-login