.header
  .main-header
    .main-header-top
      .main-header-logo
        = image_tag "/assets/fmarket_logo_red.svg"
      .mainheader-logo-search
        %input.mainheader-logo-search-box{placeholder: "何かお探しですか？", type: "text", value: ""}
        %button.mainheader-logo-search-button
          %i.fa.fa-search
    .main-header-bottom
      .main-header-bottom-left 
        .main-header-bottom-leftbox
          .main-header-bottom-leftbox-category-left
            .a-category
              %i.fa.fa-bars.headericon
              %a.a-category カテゴリーから探す
          .main-header-bottom-leftbox-category-right
            .a-brand
              %i.fa.fa-tags.headericon
              %a.a-brand ブランドから探す
      .main-header-bottom-right
        %ul.main-header-bottom-right
          .headerlike1
            %a.headerlike{href:"#"}
              %i.fa.fa-heart
              %span.header-bottom-icon いいね
          .headernotice1
            %a.headerlike{href:"#"}
              %i.fa.fa-bell
              %span.header-bottom-icon お知らせ
          .headerlist1
            %a.headerlike{href:"#"}
              %i.fa.fa-list
              %span.header-bottom-icon やることリスト
          .headermypage1
            = link_to "#" , class: "headermypage" do
              = image_tag "/assets/member", class: "header-mypageicon"
              %a.header-bottom-icon(href="#") マイページ