.main-category
  %h2.main-category-top 人気のカテゴリー
  .main-category-bottom
    %ul.category-items
      %li.category-item-btn
        %a.category-item-name レディース
      %li.category-item-btn
        %a.category-item-name メンズ
      %li.category-item-btn
        %a.category-item-name 家電・スマホ・カメラ
      %li.category-item-btn
        %a.category-item-name おもちゃ・ホビー・グッズ
.main-items
  .main-items-show
    .main-items-show-header
      %h3.main-items-show-header-left 新着アイテム
      %a.main-items-show-header-right もっと見る
    .main-items-show-bottom
      .main-items-bottom-list
        %ul.list-items
          %li.list-item
            .list-item-all
              %a.main.items-all
                %figure.main-items-all-figure                                  
                  .main-items-all-bottom
                    %figcaption.main-items-all-figure-i
                    %span.main-items-all-span testtesttest
                      %span.aria-label $ 12
                      %img.img-main-item{src:"/assets/back.jpg"}
                      %figcaption.main-items-all-figure-i
                        %span.main-items-all-span testtesttest