%section#mypage__user-icon
  = link_to "#", class: "mypage_link" do
    %figure
      %img.mypageicon{src: "/assets/member.png"}
    %h9 name
  .mypage__number
    %div
      評価 0
    %div
      出品数 0
%selection#mypage-tab-container-notification-todo
  %ul#mypage_tabs
    %li お知らせ
    %li やることリスト
%ul#mypage-todo
  %li
    メッセージはありません
  %li#mypage-go-list
    = link_to "#", class: "summary" do
      一覧を見る