.address-input
  = render 'registration_header'
  .address-input__container
    .address-input__container__title
      住所入力
    .address-input__container__form-name
      お名前
      %span.required 必須
    .address-input__container__form
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "fast-name", :type => "text", placeholder: '  例) 山田'}
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "last-name", :type => "text", placeholder: '  例) 彩'}
    .address-input__container__form-name
      お名前カナ
      %span.required 必須
    .address-input__container__form
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "fast-name-kana", :type => "text", placeholder: '  例) ヤマダ'}
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "last-name-kana", :type => "text", placeholder: '  例) アヤ'}
    .address-input__container__form-name
      郵便番号
      %span.required 必須
    .address-input__container__form
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "postal-code", :type => "text", placeholder: '  例) 123-4567'}
    .address-input__container__form-name
      都道府県
      %span.required 必須
    .address-input__container__form
      %select#prefectures__detail{:name => "prefectures"}
        %option{:value => ""} 北海道
    .address-input__container__form-name
      市区町村
      %span.required 必須
    .address-input__container__form
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "city", :type => "text", placeholder: '  例)  横浜市緑区'}
    .address-input__container__form-name
      郵便番号
      %span.required 必須
    .address-input__container__form
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "addres", :type => "text", placeholder: '  例)  青山1-1-1'}
    .address-input__container__form-name
      建物名
      %span.any 任意
    .address-input__container__form
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "building-name", :type => "text", placeholder: '  例)  柳ビル103'}
    .address-input__container__form-name
      電話
      %span.any 任意
    .address-input__container__form
      %form{:action => "/form.php", :method => "post"}
      %input#address-input{:name => "phone", :type => "text", placeholder: '  例)  09012345678'}
      =link_to "#",class: "next_btn" do
        次へ進む
  = render 'user_footer'