.wrapper
  = render "layouts/registration_header"
  -# = render "layouts/user_header"
  -# = render "layouts/registration_hrough"
  = render "layouts/registration_addres.html"
  = render "layouts/user_footer"