.mypage_side{
  width: 280px;
  height: 1252px;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  margin-right: 40px;
  &__title{
    margin: 40px 0 0;
  }
  &__menu{
    height: 48px;
    width: 280px;
  }
  &__list{
    list-style: none;
    width: 280px;
    height: 685px;  
    &__item{
      position: relative;
      display: block;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      border-top: 1px solid #eee;
      text-decoration: none;
      &:active{
        background: #eee;
        font-weight: 600;
      &:hover{
        background-color: whitesmoke;
      }
      }
    }
  }
}
