.mypage-item-list{
  width: 700px;
  margin: 0 auto;
  text-align:center;
  background-color: #fff;
  display: flex;
}

.mypage-item-lists{
  width: 700px;
  margin: 0 auto;
  text-align:center;
  background-color: #fff;
}

.mypage-items{
  margin: 0 auto;
  text-align:center;
  background-color: #fff;
  list-style: none;
  &__name{
    font-size: 17px;
  }

}

.mypage-item{
  display: flex;
}

.exhibitting-item-list:hover{
  color: grey;
  border-color: blue;
}