.itembuy-content__button{
  width: 620px;
  margin: 0 auto;
}
.item-edit{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.itembuy-content__Separator{
  text-align: center;
}
.item-resume{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.item-delete{
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  margin: 16px 0 16px 0;
}

