.wrapper {
  background-color: rgb(245, 245, 245);
}
.main-category {
  background-color: rgb(255, 255, 255);
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100vw;
  padding: 56px 0px 30px;
  .main-category-top {
    margin-bottom: 16px;
    text-align: center;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4em;
  }
  .main-category-bottom {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    .category-items {
      margin: -10px 0px 0px -10px;
      list-style: none;
      display: flex;
      justify-content: center;
      .category-item-btn {
        margin: 10px 0px 0px 10px;
        .category-item-name {
          background-color: rgb(239, 239, 239);
          cursor: pointer;
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          border-radius: 15px;
          padding: 8px 16px;
        }
      }
    }
  }
}
.main-items {
  width: 1020px;
  margin: 0 auto;
  padding: 42px 0px 100px;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-size: 24px;
  background-color: rgb(245, 245, 245);
  .main-items-show{
    width: 100%;
    vertical-align: baseline;
    &-header{
      margin-bottom: 16px;
      align-items: flex-end;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      .main-items-show-header-left {
        font-size: 24px;
        font-weight: 600;
      }
      .main-items-show-header-right {
        font-size: 14px;
        padding: 5px 16px 5px 5px;
        color: rgb(0, 149, 238);
        text-decoration: none;
      }
    }
    &-bottom {
      .list-items{
        margin: -10px;
        display: flex;
        flex-wrap: wrap;
          .list-item {
            width: 18%;
            padding: 10px;
            .list-item-all {
              visibility: visible;
              transition: all 0.5s ease 0s;
              opacity: 1;
              border: 1px solid transparent;
              filter: drop-shadow(2px 2px 2px rgba(51, 51, 51, 0.6));
              &:hover {
                border-color: blue;
              }
              &:focus:after{
                background-color: blue;
              }

              .main-items-all {
                width: 100%;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-decoration: none;
                vertical-align: top;
                .main-items-all-figure {
                  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
                  background-color: #fff;
                  flex-direction: column-reverse;
                  margin: 0;
                  overflow: hidden;
                  z-index: 0;
                  .main-items-all-figure-i {
                    box-sizing: border-box;
                    color: #222;
                    font-size: 14px;
                    height: 64px;
                    line-height: 1.4em;
                    padding: 0 12px;
                    white-space: normal;
                    word-break: break-word;
                    .main-items-all-span {
                      display: inline-block;
                      height: 2.8em;
                      overflow: hidden;
                      position: relative;
                      margin-top: 10px;
                    }
                  }
                }
              }
                .img-main-item1 {
                  overflow: hidden;
                  padding: 0 0 100%;
                  display: flex;
                  position: relative;
                  .aria-label {
                    display: inline-flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    background: rgba(0,0,0,.4);
                    border-radius: 0 14px 14px 0;
                    bottom: 8px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    color: #fff;
                    font-size: 17px;
                    height: 32px;
                    height: 28px;
                    letter-spacing: .02em;
                    margin: 0;
                    padding: 0 12px;
                    position: absolute;
                    z-index: 2;
                  }
                  .img-main-item {
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    vertical-align: top;
                    width: 100%;
                    z-index: 1;
                    bottom: 0;
                    position: absolute;
                    top: 0;
                  }
                }
              }
            }
          }
        }
      }
    } 

