%div.thumb-item
  %div
    = image_tag @images.image, class: 'owl-stage-outer', size: '300x300'

%div.thumb-item-nav
  %div.item_carusel
    = image_tag @images.image, class: 'owl-stage-outer-sub', size: '60x60'


