%div.thumb-item
  - @images.each do |image|
    %div
      = image_tag image.image.url, class: 'owl-stage-outer', size: '300x300'
%div.thumb-item-nav
  - @images.each do |image|
    %div.item_carusel
      = image_tag image.image.url, class: 'owl-stage-outer-sub', size: '60x60'