.buycheck{
  background: rgb(245, 245, 245);
  color: #333;
}
.buycheck__main{
  width: 700px;
  margin: 0 auto;
  background: #fff;
}
.buycheck__header{
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding: 32px;
}
.buycheck__item{
  padding:32px 16px;
  border-top: 1px solid #f5f5f5;
  text-align: center;
  &--collector{
    max-width: 343px;
    margin: 0 auto;
  }
  &--box{
    display: flex;
  }
  &--image{
    height: 80px;
    width: 80px;
    min-width: 80px;
    display: flex;
    align-items: center;
  }
  &--detail{
    margin-left: 16px;
  }
  .buy-image{
    width: 80px;
  }
  &--name{
    font-size: 14px;
    margin: 0;
    padding: 0 0 8px;
    line-height: 1.5;
    text-align: left;
  }
  &--price{
    margin: 0;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
  }
}
.buycheck__pay{
  padding:32px 16px 48px;
  border-top: 1px solid #f5f5f5;
  &--content{
    max-width: 343px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  &--money{
    width: 100%;
    justify-content:space-between;
    font-weight: bold;
  }
  &--check{
    margin: 24px 0 32px;
    color: #888;
    font-size:14px;
    position: relative;
  }
}
.buycheck__pay--row{
  display: flex;
  justify-content: space-between;
}
.buycheck__pay--label{
  font-size: 18px;
  margin-top: 5px;
}
.buycheck-pay--cell{
  font-size: 27px;
}
input[type="checkbox"]{
  -webkit-appearance: none;
  width:20px;
  height:20px;
  border:2px solid #ccc;;
  border-radius:2px;
  vertical-align:middle;
}
input[type="checkbox"]:checked{
  background:#ccc;
}
.buycheck__pay--way{
  padding: 32px 0;
  border-top: 1px solid #f5f5f5;
}
.buycheck__pay--registration{
  font-size:14px;
  font-weight: bold;
}
.buycheck__pay--textinner{
  position: relative;
  display: inline-block;
}
.buycheck__pay--textinner:before{
  position: absolute;
  top: 1.3em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background: #0099e8;
  transition: 0,6;
}
.buycheck__pay--textinner:hover:before{
  width: 100%;
}
.buycheck__pay--address{
  padding: 32px 0;
  border-top: 1px solid #f5f5f5;
  font-size:14px;
  .address-place{
    font-weight: bold;
  }
  .address-link{
    text-decoration: none;
    color: #0099e8;
  }
  .buycheck__address--content{
    max-width: 343px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .buycheck__address--inner{
    margin-top:8px;
  }
  
}
.change-link{
  position: relative;
  display: inline-block;
}
.change-link:before{
  position: absolute;
  top: 1.3em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background: #0099e8;
  transition: 0,6;
}
.change-link:hover:before{
  width: 100%;
}
.buycheck__pay--paylink{
  text-decoration: none;
  color: #0099e8;
}
.checkicon{
  left: 0;
  border-radius: 2px;
  line-height: 17px;
  background-color:#ccc;
}
.buycheck__pay--error{
  padding: 24px 0 0;
  border-top: 1px solid #f5f5f5;
  .buycheck__error--message{
    padding-bottom: 24px;
    color: #ea352d;
    font-size: 14px;
  }
  .buy-botton{
    border: 1px solid #888;
    background: #888;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    transition: all ease-out .3s;
    text-align: center;
  }
  .buycheck__install--messege{
    margin-top: 40px;
    font-size:14px;
  }
  .buycheck__pay--store{
    text-align: center;
    .apple-link{
      margin-right: 24px;
      text-decoration: none;
    }
  }
}
.apple-link:hover{
  opacity: 0.6;
}
.google-link:hover{
  opacity: 0.6;
}
