.download{
  width: 100vw;
  height: 260px;
  &__text{
    padding-left: 250px;
    padding-top: 50px;
    color: #FFF;
    &__upper{
      font-size: 24px;
      font-weight: 600
    }
    &__bottom{
      font-size: 35px;
    }
  }
  &__image{
    padding-left: 250px;
    display: flex;
    &__logo{
      width: 50px;
      height: 50px;
      padding-top: 20px;
      padding-right: 20px;
    }
    &__apple{
      padding-right: 20px;
      padding-top: 30px;
    }
    &__google{
      padding-top: 30px;
    }
  }
  background-image: url(https://www.pakutaso.com/shared/img/thumb/YAT923_1_TP_V.jpg);
}