.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}
.main-header {
  margin: 0 330px;
  height: 92px;
  padding-top: 8px;
  position: relative;
}

.main-header-top {
  height: 40px;
  display: flex;
  justify-content: space-between;
  .main-header-logo {
    width: 134px;
    height: 40px;
    margin-right: 45px;
  }
  .mainheader-logo-search {
    position: relative;
    width: 100%;
    height: 40px;
    .mainheader-logo-search-box {
      background-color: rgb(245, 245, 245);
      font-size: 16px;
      height: 40px;
      line-height: 1.4em;
      position: relative;
      -webkit-appearance: none;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      border-radius: 4px;
      outline: none;
      padding: 0px 50px 0px 10px;
      transition: all 0.3s ease-out 0s;
      width: 100%;
      box-sizing: border-box;
    }
    .mainheader-logo-search-button{
      background-color: transparent;
      cursor: pointer;
      height: 40px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 40px;
      -webkit-appearance: none;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 0px 4px 4px 0px;
      padding: 0px;
    }
  }
}
.main-header-bottom {
  margin-top: 8px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  &__left {
    background-color: #fff;
    width: 308.45px;
    .main-header-bottom-leftbox {
      display: flex;
      margin-left: -3px;
      .main-header-bottom-category {
        display: flex;
        margin-left: -3px;
      }
      .main-header-bottom-leftbox-category-left {
          cursor: pointer;
          height: 44px;
          position: relative;

          padding: 0px 10px;
        }
        .main-header-bottom-leftbox-category-right {
          cursor: pointer;
          height: 44px;
          position: relative;

          padding: 0px 10px;
        }
    }
  }
  &__right1 {
    display: flex;
    &__right1-signup {
      text-align: center;
    }
    .main-header-bottom__right1-login {
      text-align: center;
      margin-left: 11px;
      
    }
  }
}


.a-category {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}
.a-brand {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}
.headericon {
  color:red;
}
.a-category, .a-brand{
  text-decoration: none;
  &:hover {
    color: blue;
  }
}
.a-signup {
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 53, 45);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  &:visited {
    color: #fff;
  }
}
.a-login {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  &:hover {
    background-color: rgb(0, 149, 238);
    color: #fff;
  }
}