.login-page {
  width: 100vw;
  background: whitesmoke;
  margin: 0;
  text-align: center;
}
.login-page__registration-new {
  width: 456px;
  background-color: #fff;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  border-bottom: whitesmoke solid 1px;
}
.registration-new_btn {
  display: flex;
  width: 343px;
  height: 50px;
  color: #fff;
  background-color:rgb(0, 155, 255);
  margin: 5px auto 0;
  font-size: 14px;
  line-height: 50px;
  text-decoration: none;
  justify-content: center;
}
.login-page__container {
  width: 456px;
  background-color: #fff;
  margin: auto;
  padding-bottom: 30px;
}
.login-facebook_btn {
  display: flex;
  width: 343px;
  height: 50px;
  color: #fff;
  background-color: #385185;
  margin: 0 auto;
  font-size: 24px;
  line-height: 50px;
  text-decoration: none;
}
#login-facebook {
  font-size: 14px;
  padding-left: 70px;
}
.login-google_btn {
  display: flex;
  width: 343px;
  height: 50px;
  color: #333;
  background-color: #fff;
  border: #979797 solid 1px;
  margin: 16px auto 0;
  font-size: 24px;
  line-height: 50px;
  text-decoration: none;
}
#login-google {
  font-size: 14px;
  padding-left: 80px;
}
#login-input {
  width: 343px;
  height: 50px;
  border-radius: 4px;
  border: #979797 solid 1px;
}