.login-page {
  width: 100vw;
  background: whitesmoke;
  margin: 0;
  text-align: center;
  &__container {
    width: 456px;
    background-color: #fff;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    &__form {

    }
  }
}
.login-page__registration-new {
  width: 456px;
  background-color: #fff;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  border-bottom: whitesmoke solid 2px;
}
.registration-new_btn {
  display: flex;
  width: 343px;
  height: 50px;
  color: #fff;
  background-color:rgb(0, 155, 255);
  margin: 5px auto 0;
  font-size: 14px;
  line-height: 50px;
  text-decoration: none;
  justify-content: center;
}
.login-facebook_btn {
  display: flex;
  width: 343px;
  height: 50px;
  color: #fff;
  background-color: #385185;
  margin: 0 auto;
  font-size: 24px;
  line-height: 50px;
  text-decoration: none;
}
#login-facebook {
  font-size: 14px;
  padding-left: 70px;
}
.login-google_btn {
  display: flex;
  width: 343px;
  height: 50px;
  color: #333;
  background-color: #fff;
  border: #979797 solid 1px;
  margin: 16px auto 50px;
  font-size: 24px;
  line-height: 50px;
  text-decoration: none;
}
#login-google {
  font-size: 14px;
  padding-left: 80px;
}
.login-input {
  width: 343px;
  height: 50px;
  border-radius: 4px;
  border: #979797 solid 1px;
  margin-bottom: 20px;
}
.g-recaptcha {
  width: 343px;
  margin: 16px auto 20px;
}
.forget {
  width: 343px;
  color: skyblue;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  text-align: left;
  margin-top: 40px;
  &:hover {
  text-decoration: underline;
  opacity: .7;
  }
}
#email.login-input {
  height: 50px;
  width: 343px;
}
#password.login-input {
  height: 50px;
  width: 343px;
  margin-top: 20px;
}