.member{
  background-color: gray;
  .member-info{
    width: 700px;
    height: 1337px;
    margin: 0 auto;
    background-color: #fff;
    font-family: sans-serif;
    &__title{
      font-size: 22px;
      text-align: center;
      padding: 32px;
    }
    &__form{
      padding: 40px 40px 64px;
      width: 620px;
      height: 1135px;
      border-top: 1px solid #f5f5f5;
      
      &--top{
        margin: 0 auto;
        max-width: 343px;
        &__field{
          margin-top: 32px;
        }
      }
    }
  }
}