#mypage_tabs{
  width: 700px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#my_list{
  height: 72px;
  width: 350px;
  font-size: 16px;
}

.my-notice{
  text-decoration: none;
  color: #333;
  line-height: 72px;
}

#mypage-message{
  height: 80px;
  width: 700px;
}

.my_message{
  padding: 16px;
  font-size: 14px;
  width: 668px;
  height: 48px;
  text-decoration: none;
  color: #000000;
}
#mypage-go-list{
  width: 668px;
  height: 56px;
  padding: 16px;
}

.summary{
  display: block;
    height: 56px;
    margin: 0 auto;
    background: #eee;
    color: #333;
    line-height: 56px;
    text-align: center;
    text-decoration: none;
}