@import "./reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./user_header";
@import "registration_header";
@import "./registration_hrough";
@import "./registration_active.scss";
@import "./registration_addres.scss";
@import "./registration_payment";
@import "./registration_complete";
@import "./download";
@import "./user_footer";
@import "./login";
@import "./login_forget";
@import "./registration_information";
@import "./headerimage";
@import "./headerimage2";
@import "./slick-theme.scss"; 
@import "slick";
@import "carousel";
@import "./download";
@import "./exhibit";
@import "./footer";
@import "./header";
@import "items/mainindex";
@import "./confomation";
@import "./notconfomation";
@import "./loginheader";
@import "./carousel";
@import "./slick-theme.scss";
@import "mypage/during_trade";
@import "mypage/exhibiting";
@import "mypage/like_all";
@import "mypage/logout";
@import "mypage/mypage_item_list";
@import "mypage/mypage_link";
@import "mypage/mypage_sidebar";
@import "mypage/notification";
@import "mypage/todo";
@import "mypage/mypage.scss";
@import "mypage/mypage_card_add.scss";
@import "shared/user_header.scss";
@import "shared/user_footer.scss";
@import "./sell.scss";
@import "mypage/profile";
@import "mypage/pribate.scss";
@import "bread-crumbs";
@import "items/product_show.scss";

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

a{
  color: #000000;
}

