.sell{
  &__body{
    vertical-align: baseline;
    margin: 0 auto;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
  }
  box-sizing: border-box;
  &__title{
    padding: 40px;
  }
  &__file{
    padding: 40px;
  }
}
