%section#mypage__user-icon
  = link_to "#", class: "mypage_link" do
    %figure#figureimg
      %img.mypageicon{src: "/assets/member.png"}
    %div#mypageicon-name
      name
  .mypage__number
    %div#my-evaluate
      評価　0
    %div
      出品数　0
