%section#mypage__user-icon
  = link_to "#", class: "mypage_link" do
    %figure#figureimg
      = image_tag "/assets/member.png", class: "mypageicon"
    %div#mypageicon-name
      = current_user.nickname
  .mypage__number
    %div#my-evaluate
      評価　0
    %div
      出品数　0
