.mypage-tab-container-notification-todo
  %ul#mypage_tabs
    %li#my_list
      = link_to mypage_notification_path,class: "my-notice" do
        お知らせ
    %li#my_list
      = link_to mypage_todo_path,class: "my-notice__active" do
        やることリスト

  %ul.mypage-item-list
    %li#mypage-item-none 
      現在、お知らせはありません
    %li#mypage-go-list
      = link_to "#", class: "summary" do
        現在、やることリストはありません


