.select
  .select-content
    .select-content__tilte
      電話番号の確認
    .select-content__contenter
      .select-content__contenter__btn
        =link_to "/",class: "sns_btn" do
          %div#btn
            SNSを送信する

