.confirm
  .confirm_phone_number
    .confirm_phone_number__title
      電話番号の確認
    .confirm_phone_number__content
      携帯電話の番号
      .confirm_phone_number__content__inpit
        %input.main-header__top__search__box{placeholder: "携帯電話の番号を入力", type: "text", value: ""}
      .confirm_phone_number__content__text
        本人確認のため、携帯電話のSMS(ショートメッセ
        %br/
        ージサービス)を利用して認証を行います。

      .confirm_phone_number__content__btn
        =link_to "/",class: "sns_btn" do
          %div#btn
            SNSを送信す
      .confirm_phone_number__content__text
        *電話番号は本人確認や不正利用防止のために利用 
        %br/
        します。他のユーザーに公開されることはありま
        %br
        せん。    

      .confirm_phone_number__content__reason
        =link_to "#",class: "reason" do
          電話番号の確認が必要な理由>
      .confirm_phone_number__content__reason
        = link_to '#', target: 'reason' do
          電話番号の確認が必要な理由
          %i.fas.fa-chevron-right