.single-footer
  .single-footer__content
    .single-footer__content__1
      = link_to "#", class: "content" do
        プライバシーポリシー
    .single-footer__content__2
      = link_to "#", class: "content" do
        メルカリ利用規約
    .single-footer__content__3
      = link_to "#", class: "content" do
        特定商取引に関する表記
  .single-footer__image
    =link_to "/",class: "title_btn" do
      = image_tag "logo_gray.svg", size: "80x65", alt: "logo"
  .single-footer__copyright
    © Mercari, %Inc.